body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.login-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

}
.form-label {
    font-weight: bold;
}
    .login-container h2 {
        margin-bottom: 20px;
        font-size: 24px;
        text-align: center;
        color: #333333;
    }

    .login-container .form-group {
        margin-bottom: 20px;
    }

    .login-container .btn {
        width: 100%;
    }

    .login-container .alert {
        margin-top: 20px;
    }
.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.error-card {
    max-width: 500px;
    margin: auto;
    padding: 2em;
    border: 1px solid #dee2e6;
    border-radius: .5em;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .error-card h1 {
        font-size: 3em;
        margin-bottom: 0.5em;
    }

    .error-card p {
        font-size: 1.2em;
    }

    .error-card .btn {
        margin-top: 1em;
    }
.fa-file-excel {
    color: #fff; /* Change color as needed */
}
.message-popup {
    z-index: 1000; 
}
